.createnewpostcontainer {
    height: 115px;
    width: 780px;
    background-color: #242526;
    margin-top: 25px;
    border-radius: 7px;
    margin-bottom:25px;
}
.photoprofilepostbar {
    height: 40px;
    margin-left: 10px; 
    border-radius: 50%;
}

.navbarinputpostbar {
    width: 655px;
    background: #3a3b3c;
    border: none;
    height: 39px;
    border-radius: 18px;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
    color: white;
}

.createnewpostcontainer hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgb(58 59 60);
    margin: 10px;
}

.iconspostbar {
    height: 32px;
    margin-right: 50px;
}