@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar sideBarCostum" style="background: #18191a;">
        <NavMenu />
    </div>

    <div class="main MainLayout">
        <div class="top-row px-4" style=" background: #242526; border-bottom: 1px solid #3a3b3c;color:white">
            <NavMenuHorizontal />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
