@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar sideBarCostum" style="background: #18191a;">
        <NavMenu />
    </div>

    <div class="main MainLayout">
        <div class="top-row px-4" style=" background: #242526; border-bottom: 1px solid #3a3b3c;color:white">
            <div class="col-9">
                <div class="d-flex justify-content-center">
                    <div class="navbariconcontainer">
                        <img class="mx-auto d-block" src="/img/icons/homeico.PNG" />
                        <div class="divAlert"></div>
                    </div>
                    <div class="navbariconcontainer">
                        <img class="mx-auto d-block" src="/img/icons/watchbarico.PNG" />
                        <div class="divAlert"></div>
                    </div>
                    <div class="navbariconcontainer">
                        <img class="mx-auto d-block" src="/img/icons/marketbarico.PNG" />
                        <div class="divAlert"></div>
                    </div>
                    <div class="navbariconcontainer">
                        <img class="mx-auto d-block" src="/img/icons/friendbarico.PNG" />
                        <div class="divAlert"></div>
                    </div>
                    <div class="navbariconcontainer">
                        <img class="mx-auto d-block" src="/img/icons/gamingico.PNG" />
                        <div class="divAlert"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <img src="/img/icons/menuico.PNG" />
                    <img src="/img/icons/messengerico.PNG" />
                    <img src="/img/icons/notificationico.PNG" />
                    <img src="/img/icons/accountico.PNG" />
                </div>
            </div>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
