<div class="col-9">
    <div class="d-flex justify-content-center">
        <div class="navbariconcontainer">
            <img class="mx-auto d-block" src="/img/icons/homeico.PNG" />
            <div class="divAlert"></div>
        </div>
        <div class="navbariconcontainer">
            <img class="mx-auto d-block" src="/img/icons/watchbarico.PNG" />
            <div class="divAlert"></div>
        </div>
        <div class="navbariconcontainer">
            <img class="mx-auto d-block" src="/img/icons/marketbarico.PNG" />
            <div class="divAlert"></div>
        </div>
        <div class="navbariconcontainer">
            <img class="mx-auto d-block" src="/img/icons/friendbarico.PNG" />
            <div class="divAlert"></div>
        </div>
        <div class="navbariconcontainer">
            <img class="mx-auto d-block" src="/img/icons/gamingico.PNG" />
            <div class="divAlert"></div>
        </div>
    </div>
</div>
<div class="col">
    <div class="d-flex justify-content-end">
        <img src="/img/icons/menuico.PNG" />
        <img src="/img/icons/messengerico.PNG" />
        <img src="/img/icons/notificationico.PNG" />
        <img src="/img/icons/accountico.PNG" />
    </div>
</div>
@code {

}
