<div class="createnewpostcontainer">
    <div class="row">
        <div class="col-12">
            <img src="/img/pictures/principal.jpg" class="photoprofilepostbar" />
            <input type="text" class="navbarinputpostbar" placeholder="  ¿Qué estas pensando, Manuel?">
            <hr />
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <img class="iconspostbar" src="/img/icons/liveico.PNG" />
        <img class="iconspostbar" src="/img/icons/photovideoico.PNG" />
        <img class="iconspostbar" src="/img/icons/feellingsactivityico.PNG" />
    </div>
</div>
@code {

}
