<div class="createnewpostcontainer">
    <div class="row">
        <div class="col-12">
            <img src="/img/pictures/principal.jpg" class="photoprofilepostbar" />
            <input type="text" class="navbarinputpostbar" placeholder="  ¿Qué estas pensando, Manuel?">
            <hr />
        </div>
    </div>
</div>
@code {

}
