<div class="storiesscrollmenu">
    <div class="storieItem">

    </div>
    <div class="storieItem">

    </div>
    <div class="storieItem">

    </div>
    <div class="storieItem">

    </div>
    <div class="storieItem">

    </div>
    <div class="storieItem">

    </div>
    <div class="storieItem">

    </div>
</div>
@code {

}
