@page "/"
<div class="row">
    <div class="col-9">
        <div class="d-flex justify-content-center">
            <StoriesComponent/>
        </div>
        <div class="d-flex justify-content-center">
            <NewPostComponent/>
        </div>
        <div class="d-flex justify-content-center">
            <img src="/img/icons/testcontent.PNG" />
        </div>
    </div>
    <div class="col">
        <img src="/img/icons/testcontent2.PNG" />
    </div>
</div>   

