@page "/"
<div class="row">
    <div class="col-9">
        <div class="d-flex justify-content-center">
            <StoriesComponent />
        </div>
        <div class="d-flex justify-content-center">
            <NewPostComponent />
        </div>
        <PostListComponent/>
    </div>
    <div class="col-3">
        <div id="publicityandchatscontainer">
            <div class="row">
                <div class="col publicitycontainer">
                    <a class="publicitytitle">Publicidad</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 publicitycontaineritem">
                    <div class="publicityimage">

                    </div>
                    <div class="publicityitemtext">Unete a nuestra nueva red de internet y telefonia</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 publicitycontaineritem">
                    <div class="publicityimage">

                    </div>
                    <div class="publicityitemtext">Tu tambien puedes optar por estos beneficios!</div>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col" style="margin-bottom:15px">
                    <a class="chattitle">Contactos</a>
                    <div class="iconschats">
                        <img src="/img/icons/addvideocall.ico" />
                        <img src="/img/icons/search.ico" />
                        <img src="/img/icons/3dots.ico" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/1.jpg" /><a>Miguel Franco</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/2.jpg" /><a>Alejandro Estevez</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/3.jpg" /><a>Estefany Panameño</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/4.jpg" /><a>Carol Gabriela Gutierrez</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/5.jpg" /><a>Rafael Nuñez</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/3.jpg" /><a>Daniela Sofia Calderon</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/1.jpg" /><a>Fernando Perez</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/4.jpg" /><a>Andrea Villeda</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/2.jpg" /><a>Fernando Perez</a>
                </div>
            </div>
            <div class="row">
                <div class="col contactitemcontainer">
                    <img src="/img/pictures/5.jpg" /><a>Miguel Franco</a>
                </div>
            </div>
        </div>
    </div>
</div>   

